@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JP SmartSolutions</h1>
    <p class="lead">Bienvenido a tu sistema de contabilidad, en este tendras acceso a diferentes opciones para tus asientos contables</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
